*
{
    cursor: url("/图片/cursor.png"), auto;
    margin: 0;
    padding: 0;
}

@font-face{
    font-family: 'pixel-hanzi';
    src: url('/fonts/Uranus_Pixel_11Px.ttf');
}

body{
    font-family: 'pixel-hanzi', sans-serif;
    background-image: url('/pictures/3.jpg');
    background-size: 100% 100%;  /* This forces the image to stretch and cover the entire screen */
    background-repeat: no-repeat;  /* This prevents the image from repeating */
    background-position: center;  /* This centers the image */
    background-attachment: fixed;
}

ul li{
    padding-right:15px;
    display: inline-block;
    list-style-type: none;
}

li:hover{
    transform: translateY(-4px);
}
#header{
    background-color: #fff7f1;
    height: 40px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}